@font-face {
  font-family: "Dazzed-Light";
  src: local("Dzzed"), url("/Fonts/DazzedTRIAL-Light.woff2") format("truetype");
}

@font-face {
  font-family: "Dazzed-Regular";
  src: local("Dzzed"),
    url("/Fonts/DazzedTRIAL-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Dazzed-Bold";
  src: local("Dzzed"), url("/Fonts/DazzedTRIAL-Bold.woff2") format("truetype");
}

@font-face {
  font-family: "Documen-Light";
  src: local("Documen"),
    url("/Fonts-2/DocumanTRIAL-Light.woff2") format("truetype");
}

.logo-text {
  font-family: "Dazzed-Regular";
  writing-mode: vertical-rl;
  font-size: 1.2rem;
}

h1 {
  font-family: "Dazzed-Bold";
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Documen-Light";
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
}

h3 {
  font-family: "Documen-Light";
  font-size: 1rem;
}

p {
  font-family: "Documen-Light";
  font-size: 0.7rem;
}

.canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.donut {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

input {
  all: unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.empty-button {
  margin: 8px;
  display: flex;
  width: 1rem;
  height: 10px;
}

thead {
  font-family: "Documen-Light";
  text-align: center;
  width: 30%;
}

td {
  padding: 0.1rem 0;
  text-align: center;
}

.slider-light[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  padding: 0 5px;
}

.slider-dark[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  padding: 0 5px;
}

.slider-light::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
}

.slider-dark::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background: rgb(0, 255, 0);
  cursor: pointer;
  -webkit-appearance: none;
}

.slider-light[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(0, 255, 0);
  border-bottom: 1px solid black;
  height: 10px;
}

.slider-dark[type="range"]::-webkit-slider-runnable-track {
  background-color: black;
  border-bottom: 1px solid rgb(0, 255, 0);
  height: 10px;
}

.scroll-light {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll-dark {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.scroll-light::-webkit-scrollbar-track {
  background: rgb(0, 255, 0);
}
.scroll-dark::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
.scroll-light::-webkit-scrollbar-thumb {
  background: black;
}
.scroll-dark::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 0);
}

/* Handle on hover */
.scroll-light::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-dark::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 205, 0);
}
