@font-face {
  font-family: "Dazzed-Light";
  src: local("Dzzed"),
    url("/public/Fonts/DazzedTRIAL-Light.woff2") format("truetype");
}

@font-face {
  font-family: "Dazzed-Regular";
  src: local("Dzzed"),
    url("/public/Fonts/DazzedTRIAL-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Dazzed-Bold";
  src: local("Dzzed"),
    url("/public/Fonts/DazzedTRIAL-Bold.woff2") format("truetype");
}

@font-face {
  font-family: "Documen-Light";
  src: local("Documen"),
    url("/public/Fonts-2/DocumanTRIAL-Light.woff2") format("truetype");
}

.logo-text {
  font-family: "Dazzed-Regular";
  writing-mode: vertical-rl;
}

h1 {
  font-family: "Documen-Light";
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Documen-Light";
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
}

h3 {
  font-family: "Documen-Light";
  font-size: 1rem;
}

p {
  font-family: "Documen-Light";
  font-size: 0.7rem;
}

.canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.donut {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

input {
  all: unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.empty-button {
  margin: 8px;
  display: flex;
  width: 1rem;
  height: 10px;
}

thead {
  font-family: "Documen-Light";
  text-align: center;
  width: 30%;
}

td {
  padding: 0.1rem 0;
  text-align: center;
}

.slider[type="range"] {
  -webkit-appearance: slider-vertical;
  width: 10px;
  height: 40px;
  padding: 0 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(0, 255, 0);
  border: 1px solid black;
  height: 100%;
  width: 8px;
}
